[Unit]
Description=OLED display provider

[Service]
Environment=PYTHONUNBUFFERED=1
User=pi
Group=pi
WorkingDirectory=/opt/oledctrl/oled
ExecStart=python3 /opt/oledctrl/oled/oled.py
RestartSec=10
Restart=always

[Install]
WantedBy=basic.target
