[Unit]
Description=OLED display provider

[Service]
Environment=PYTHONUNBUFFERED=1
User=pi
Group=pi
WorkingDirectory=/home/pi/oledctrl/oled
ExecStart=python3 /home/pi/oledctrl/oled/oled.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
