[Unit]
Description=OLED display provider
After=mopidy.service
Wants=mopidy.service

[Service]
User=pi
Group=pi
Type=forking
WorkingDirectory=/home/pi/oled/oled
ExecStart=/home/pi/oled/oled/oled.py
RestartSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
