#Hardware and MPD Connection
luma.oled==3.13.0
python-musicpd==0.9.0
ADS1x15-ADC==1.2.2
pyalsaaudio==1.10.0

#Shairport-Sync Integration
Kivy==2.3.0
git+https://github.com/Schlaubischlump/shairport-metadatareader-python

#Development
luma.emulator==1.5.0
pygame==2.5.2